<h2><%= @cocktail.name %></h2>

<%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>

<% @cocktail.doses.each do |dose| %>
  <p><%= dose.description %></p>
  <p><%= dose.ingredient.name %></p>
<% end %>

<%= link_to 'Retour', cocktails_path %>
<%= link_to 'Ajouter une dose', new_cocktail_dose_path(@cocktail) %>
